* {
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #d4e6f1;
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-input {
  width: 75%;
  max-width: 500px;
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
  flex-grow: 1;
  border-radius: 5px;
}

.add-btn {
  width: 20%;
  padding: 10px;
  font-size: 18px;
  background-color: #00a2ff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.todo-text {
  flex-grow: 1;
}

.todo-list img {
  height: 30px;
  width: 30px;
}
